.sidebar {
    min-height: 85vh;

    .nav-link {
        padding: 1rem;
    }

    .nav-link.active {
        border: 2px solid royalblue;
        border-radius: 10px;
    }
}

.outlet {
    height: 85vh;
    width: 100%;
    overflow-y: scroll;
}