button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background:none;
    border:thin solid black;
    transition: 0.5s;

    &:hover{
        background-color: black;
        color: white;
    }
}