.activeUsersContainer{

    
    .activeUserBoard{
        padding: 1rem;

        display: grid;
        grid-template-columns: repeat(4,200px);
        gap: 5px;
        min-height: 80vh;
    }

    .taskbar {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        border-top: thin solid black;


        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

        }

        .searchbar {

            img {
                width: 10px;
            }
        }

        button {
            width: 20px;
        }
    }
}